html,
body{
   width: 100%;
   height: 100%;
   margin: 0;
}

.backBack{
    background-color: 622569
}

.carousel-item {
    height: 400px;
    overflow: hidden;
    width: 100%;
    }
    .carousel-item img {
    width: 100%;
    }
    .introText{
        color: black;
        text-align: center;
        word-wrap: break-word;
    }
    .videoAlign{
            display: block;
            margin-left: auto;
    }
    .backVideo{
        background-color:#B2AC88   }

    .zoomOne:hover{
        transform: scale(1.7);
    }
    .zoomTwo:hover{
        transform: scale(1.5);
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 400px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .desc {
        padding: 15px;
        text-align: left;
      }
      .vl {
        border-left: dotted #7251b2;
      }
      
      .colourExp{
        color: #FFFACD;
      }
      .stripOne{
        background-color: #ADA2FF;
      }
      .roundImage{
       border-radius: 10%
      }
      .stripTwo{
        background-color: #C0DEFF;
      }
      .stripThree{
        background-color: #D1FFF3;
      }
      .stripFour{
        background-color: #FDEBED;
      }
      .stripFive{
        background-color: #C1AEFC;
      }
      .radiusBorder{
        border: 3px solid #610C63;
        padding: 10px;
        border-radius: 50px 20px;
      }
    
      




