@media screen and (min-width: 576px) {
.backBack{
    background-color: 622569
}

.carousel-item {
    height: 400px;
    overflow: hidden;
    width: 100%;
    }
    .carousel-item img {
    width: 100%;
    }
    .introText{
        color: black;
        text-align: center;
        word-wrap: break-word;
    }
    .videoAlign{
            display: block;
            margin-left: auto;
    }
    .backVideo{
        background-color:  #b8a9c9   }
}



